body{
    text-align:center;
    color:#fff;
    font-family:Ubuntu,sans-serif;
    margin:0;
    padding:0 0 50px;
    background-color:#383838;
    }
.form{
    width:500px;
    margin:0 auto;
    }
h1,h2{
    color:#FED254;
    margin-bottom:15px;
    }
.btnAdminLogin{
    border:2px solid#FED254;
    background:transparent;
    color:#FED254;
    font-weight:700;
    }
.btnAdminLogin:hover{
    border:2px solid#FED254;
    color:#383838;
    background:#FED254;
    }
.wrapper{
    width:100%;
    height:100vh;
    padding-top:10px;
    background-color:#383838;
    color:#FED254;
    }
hr{
    border-top:1px solid#FED254;
    }
.adminMenuBtn{
    border:2px solid#FED254;
    background:transparent;
    color:#FED254;
    font-weight:700;
    padding:8px;
    border-radius:4px;
    }
.adminMenuBtn:hover{
    text-decoration:none;
    background:#FED254;
    color:#383838;
    }
.logoutBtn {
    position: absolute;
    top: 40px;
    right: 40px;
}
.hr{
    background:#FED254;
    height:1px;
    width:50%;
    margin:40px auto 0;
    }
.selectProject{
    width:300px;
    height:30px;
    border:2px solid#FED254;
    border-radius:4px;
    background:transparent;
    color:#FED254;
    font-size:1.3em;
    margin-bottom:15px;
    }
.marginRight10{
        margin-right:10px
    }
@media only screen and (max-width: 768px){
    .logoutBtn {
        top: 15px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        width: 80px;
    }
    .wrapper {
        padding-top: 40px;
    }
    }
@media only screen and (max-width: 520px){
    .form{
        width: 90%;
    }
    
    }