/* MENU */
body {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 80px;
}
.navMenu {
    border-radius: 0;
    background-color: #FCD232;
    padding: 12px 7% 12px 20%;
    margin: 0 0 0 0;
    box-shadow: 1px 0px 7px 0px #353535;
}
.collapseMenuLine {
    background: black;
}
.menuLogoDiv {
    width: 60px;
}
.logo  {
    width: 60px;
    height: 60px;
}
.navList {
    margin-top: 10px;
}
.navList li {
    width: 140px;
    text-align: center;
    border: 2px solid #353535;
    border-radius: 4px;
    margin-right: 15px;
    padding: 4px 5px 4px 5px;
}
.navList li:hover {
    background: #353535;
}
.navList li:hover a {
    color: #FCD232;
}
.navList li a {
    padding: 0;
    line-height: 15px;
    color: #353535;
    font-weight: bold;
}
.outlineNone:focus{
    outline: none;
}
.navList li a:hover {
    background-color: transparent;
}
.navList li a:focus {
    background-color: transparent;
}
.customLi {
    height: 40px;
    width: 95px!important;
}
.customLi > a {
    margin-top: 6px;
}
/* MODAL FORM */
.formHeader {
    background: #FCD232;
    border: none;
    padding-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logoForm {
    width: 70px;
    height: 70px;
}
.formHeader > .closeForm {
    font-size: 4em;
    margin-top: -8px;
    margin-right: 20px;
    color: rgb(42, 42, 42);
    text-decoration: none;
    float:right;
    font-weight: bold;
}
.formContent {
    text-align: center;
}
.formContent h2 {
    margin-bottom: 20px;
}
.modal-backdrop {
    background-color: #292929;
}
.modal-backdrop.in {
	opacity: 0.9;
}
.formInput {
    border-bottom: 1px solid #FCD232;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    text-align: center;
}
.formInput:focus {
    outline: none;
    padding: 0 0 3px 10px;
    border-bottom: 2px solid #FCD232;
    font-size: 1.3em;
    text-align: center;
}
.formButton {
    border: 2px solid #FCD232;
    font-weight: bold;
    margin: 20px 0;
}
.formButton:hover {
    border: 2px solid #3B3838;
    background-color: #3B3838;
    color: #FCD232;
}
.test {
    height: 0;
    transition: height 3s;
}
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(1);
    top:0px; 
    animation: modal 0.7s ease-out;
} 
@keyframes modal 
{
    0%   {top:-300px;}
    50%  {top:0;}
    75%  {top:-20px;}
    100% {top:0;}
}
/* Header */
body {
    font-family: 'Ubuntu', sans-serif;
}
.wrapper {
    background-image: url("../img/synthesio-0301.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.overlay {
    background: rgba(20, 20, 20, 0.8);
    width: 100%;
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContent {
    width: 700px;
    text-align: center;
}
.headerContent h1 {
    font-size: 3.7em;
}
.headerContent h4 {
    font-size: 1.4em;
}
/* PROJECT CARDS */
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}
.card {
    width : calc(100% * (1/3) - 20px);
    color: rgb(99, 99, 99);
    background: white;
    margin: 10px;
    padding: 30px 15px 30px;
    text-align: center;
    border: 1px solid transparent;
    transition: transform 1s ease;
    min-height: 100%;
    cursor: pointer;
}
.cardPic{
    height: 90px;
}
.cardPic img {
    transition: transform 0.7s ease;
    max-height: 90px;
    display : block;
    margin : auto;
}
.card:hover .cardPic img {
    transform: scale(2) translate(0px,35px);
}
.card:hover h2 {
    opacity: 0;
}
.card:hover h3 {
    opacity: 0;
}
.card:hover p {
    opacity: 0;
}
.card h2 {
    font-size: 1.8em;
    margin: 30px 0 0 0;
    color: rgb(118, 118, 118);
    transition: opacity 0.7s ease;
    opacity: 1;
    font-weight: 400!important;
}
.card h3 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(140, 140, 140);
    font-weight: 400;
    transition: opacity 0.7s ease;
    opacity: 1;
}
.card p {    
    color: rgb(89, 89, 89);
    transition: opacity 0.7s ease;
    opacity: 1;
}
/* FOOTER */
body {
    font-family: 'Ubuntu', sans-serif;
}
.footerRow {
    background: #F5F5F5;
    border-bottom: 3px solid #DEDDDE;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.footerContent {
    display: flex;
}
.footerContent div{
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
}
.footerLogo {
    margin: 0 10px;
}
.footerLogo img {
    width: 50px;
    height: 50px;
    margin-top: 2px;
}
.glyphicon-heart {
    color: red;
    margin: 0 5px;
}
.fbLink {
    color: #82C29D;
}
.fbLink:hover {
    color: #82C29D;
    text-decoration: none;
}
.terms {
    color: rgb(206, 206, 206);
}

/* MEDIA QUERY 1280 */
@media only screen and (max-width: 1280px){
    .cardWrapper {
        width: 80%;
    } 
}
/* MEDIA QUERY 1200 */

@media only screen and (max-width: 1200px){
    .headerContent h1 {
        font-size: 3.4em;
    }
    .headerContent h4 {
        font-size: 1.1em;
    }
    .cardWrapper {
        width: 85%;
    } 
    .navMenu {
        padding: 12px 7% 12px 15%;
    }
}
/* MEDIA QUERY 900 */
@media only screen and (max-width: 900px){
    body {
        margin-top: 70px;
    }
    .card {
        width : calc(100% * (1/2) - 20px);
    }
    .navMenu {
        padding: 5px 5% 5px 5%;
    }
}

/* MEDIA QUERY 795 */
@media only screen and (max-width: 795px) {
    
}
/* MEDIA QUERY 767 */
@media only screen and (max-width: 767px) {
    body {
        margin-top: 50px;
    }
    #menu {
        background: #383838;
    }
    .navMenu {
        padding: 0px;
        border: none;
    }
    .navbar-header{
        margin-bottom: 3px;
    }
    .collapseMenuLine{
        width: 30px!important;
        height: 3px!important;
    }
    .navList li {
        width: 220px;
        font-size: 1em;
        padding: 5px 0;
        border: 2px solid #FCD232;
        margin: 10px auto;
    }
    .customLi {
        margin-top: 0px;
        width: 220px!important;
        height: unset;
    }
    .customLi > a {
        margin-top: 0px;
    }
    .navList li a {
        color: #FCD232;
    }
    .menuLogoDiv {
        width: 47px;
        margin: 3px auto 0 auto;
    }
    .logo  {
        width: 50px;
        height: 50px;
    }
    .headerContent h1 {
        font-size: 3em;
    }
    .headerContent h4 {
        font-size: 1em;
    }
}
/* MEDIA QUERY 600 */
@media only screen and (max-width: 600px){
    .cardWrapper {
        width: 70%;
    }
    .card {
        width : calc(100% - 20px);
    }
}
/* MEDIA QUERY 485 */
@media only screen and (max-width: 485px){
    .logoForm {
        width: 50px;
        height: 50px;
    }
    .formHeader > .closeForm {
        font-size: 3em;
        margin-top: 13px;
        line-height: 20px;
        margin-right: 20px;
    }
    .formInput {
        width: 90%;
    }
    .headerContent {
        width: 80%;
    }
    .headerContent h1 {
        font-size: 2em;
    }
    .headerContent h4 {
        font-size: 1em;
    }
    .cardWrapper {
        padding: 40px 0;
        width: 85%;
    }
    .cardPic{
        height: 70px;
    }
    .cardPic img {
        max-height: 70px;
    }
    .card h2 {
        font-size: 2em;
    }
    .card h3 {
        font-size: 1.7em;
        color: rgb(119, 119, 119);
    }
    .card p {
        color: rgb(80, 80, 80);
    }
}
/* MEDIA QUERY 425 */
@media only screen and (max-width: 425px){
    .headerContent {
        width: 85%;
    }
    .headerContent h1 {
        font-size: 2em;
    }
    .headerContent h4 {
        font-size: 0.9em;
    }
    .cardWrapper {
        padding: 30px 0;
        width: 90%;
    }
    .card h2 {
        font-size: 1.8em;
        margin: 20px 0 0 0;
        font-weight: 400;
    }
    .card h3 {
        font-size: 1.5em;
        color: rgb(119, 119, 119);
    }
    .card p {
        color: rgb(80, 80, 80);
    }
}
@media only screen and (max-width: 380px){
    
    
    .headerContent h1 {
        font-size: 1.7em;
    }
}